name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: ["**"]
  workflow_dispatch:
  workflow_call:  # Allow release.yaml to call this workflow.

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: "3.12"

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.10"
          enable-cache: true

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Run Ruff
        run: |
          uvx ruff check . --output-format=github
          uvx ruff format --check --diff .

  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.10"
          enable-cache: true

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --group dev

      - name: Run tests
        run: uv run pytest -v
